CompileFlags:
  CompilationDatabase: ros_ws/build/
  Remove:
    - -march=native
    - -fopenmp
    - -flto*
    - -fno-fat-lto-objects
  Add:
    - -std=gnu++23
    - -I/usr/lib/gcc/x86_64-linux-gnu/14/include
    - -I/usr/include/eigen3
Diagnostics:
  UnusedIncludes: None
  ClangTidy:
    Remove: [modernize-use-trailing-return-type]
