CompileFlags:
  Compiler: clang++
  Remove:
    - "-march=*"
    - "-mfpu=*"
Diagnostics:
  UnusedIncludes: None
  Suppress:
    - pp_file_not_found
    - drv_unknown_argument
    - sem_redef_builtin
