CompileFlags:
  CompilationDatabase: ./
  Add:
    - -isystem
    - /workspace/.clangd-headers/overlays/openmp
  Remove:
    - "-march=*"
    - "-mfpu=*"
    - -flto*
    - -fno-fat-lto-objects
Diagnostics:
  UnusedIncludes: None
